# 必须改为至少 16 位随机口令，使用英文单引号防止 $ 被 Compose 插值。
SPF_API_TOKEN='replace-with-a-long-random-secret'
SPF_IMAGE=ghcr.io/hanknovic/studentphotoflow:2.4.1-rc.5
SPF_PORT=8769
SPF_DATA_DIR=./data-rc4
SPF_LOG_LEVEL=info
SPF_UPDATE_CHANNEL=rc

